
.chatOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #454747;
  }
  
  .chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(206, 210, 212);
    border-radius: 8px;
    height: 60%;
    width: 30%;
  }