.drawContainer{
    padding-right: 5%;
}


.eraseButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width : 17.2cm;
    height: 1.3cm;
  }